<div class="col-sm d-flex justify-content-center pb-1">
    <div class="card py-3 la_div" style="width: 18rem;">
        <div class="card-body pb-0  pt-0 text-center">
            <h5 class="card-title me_title_img">{{ bulbo.codigo }}</h5>
        </div>
        <div class="text-center">
            <img src=" {{ bulbo.get_thumbnail }}" class="img-fluid img-thumbnail text-center la_img" alt="..."
            style="width:245px;height:200px;">
        </div>
       

        <div class="card-body pb-0 pt-0">
            <h5 class="card-title me_title_img">{{ bulbo.bulbo }}</h5>
        </div>
    </div>
</div>